@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merriweather" , sans-serif;
}

body {
    background-color: #f6f6f6;
}

.container {
    width: 55%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 2% auto;
    position: relative;
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        box-shadow: none;
        margin: 0;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1260px) {
    .container {
        width: 70%;
    }
}

/* ====== Behind Coloer ====== */
.behind-top {
    width: 100%;
    height: 50vh;
    background-color: #ecdccf;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    z-index: -100;
}

/* ====== Header ======= */
header {
    text-align: center;
    padding-top: 10px;
}

header h1 {
    margin-bottom: 5px;
}

/* ====== My Info ====== */
.info {
    display: flex;
    align-items: center;
    position: absolute;
    left: 40%;
}

.info img {
    padding-top: 8px;
    width: 130px;
}

.info-contact {
    width: 60%;
    margin-left: 35px;
}

.info-contact .email {
    margin: 10px 0;
}

.about-me {
    width: 40%;
    padding-top: 55px;
    padding-left: 25px;
}

.about-me p {
    line-break: auto;
    font-size: small;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.3rem;
}

@media (max-width: 480px) {
    .info {
        left: 0;
        right: 0;
    }

    .info img {
        padding-top: 0;
        padding-left: 10px;
    }

    .about-me {
        width: 100%;
        padding-top: 140px;
        padding-left: 10px;
    }
}

@media (min-width: 481px) and (max-width: 991px) {
    .info {
        left: 0;
        right: 0;
        justify-content: space-evenly;
    }

    .info img {
        width: 145px;
    }

    .info-contact {
        width: auto;
        margin-left: 0;
    }

    .about-me {
        width: 100%;
        padding-top: 165px;
        padding-left: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1260px) {
    .info {
        left: 42%;
    }
}

@media (min-width: 1460px) {
    .about-me {
        width: 32%;
    }
}


/* ====== CV Main ====== */
.cv-info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cv-info h2 {
    text-transform: uppercase;
}

.cv-info * {
    text-transform: capitalize;
}

/* Left CV */
.more-cv-info {
    padding-left: 25px;
    padding-top: 30px;
    width: 30%;
}

.skills ul {
    padding-left: 18px;
    padding-top: 10px;
}

.skills ul li {
    margin-bottom: 10px;
    font-size: 0.95rem;
    font-weight: 600;
}

.languages {
    margin-top: 50px;
}

.languages p {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

.progress {
    position: relative;
    width: 85%;
    height: 10px;
    background-color: #e6e6e6;
    border-radius: 5px;
    margin-top: 5px;
}

.progress .percentage {
    position: absolute;
    height: 10px;
    border-radius: 5px;
    top: 0;
    background-color: #ecdccf;
}

.arabic .percentage {
    width: 95%;
}

.english .percentage {
    width: 70%;
}


/* Right CV */
.main-cv-info {
    width: 60%;
    padding-right: 30px;
}

.main-cv-info div h3 {
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 0.95rem;
}

.main-cv-info div span {
    color: gray;
    font-size: small;
    display: block;
    margin: 5px 0;
}

.main-cv-info div p {
    font-size: 0.9rem;
}

.experience {
    margin-top: 20px;
    margin-bottom: 40px;
}

@media (max-width: 480px) {
    .more-cv-info {
        width: 25%;
        padding-left: 10px;
    }

    .progress {
        width: 100%;
    }

    .main-cv-info {
        width: 50%;
    }

    .experience {
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .more-cv-info {
        padding-left: 10px;
    }

    .experience {
        margin-bottom: 20px;
    }
}

/* ====== Behind Coloer Bottom ====== */
.behind-bottom {
    width: 15%;
    height: 10vh;
    background-color: #ecdccf;
    border-bottom-left-radius: 10px;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}